@import "../../index.scss";


.logo {
    font-family: $logoFont;
    letter-spacing: -2px;
    text-shadow: $textShadow;
    padding: $smallSpace;
    color: $black;
}
.logo span {
    color: $secondary;
}
.navbar-brand.logo {
    
    font-size: $extraLarge;

}
.offcanvas-header .logo {
    font-size: $bigSpace;
}
button.navbar-toggler {
    border: none;
    
    &:hover,
    &:focus {
        box-shadow:none;
    }
}

button.btn-link{
    box-shadow:none;
    color: $secondary;
    
    &:hover,
    &:focus {
        color: $tertiary;
        background:none;
        box-shadow:none;
    }
    &:active {
        opacity: $opacityDim;
        color: $tertiary;
    }
}
.form-control .search-input{
    border-radius: $borderRadius;
}
:not(button.btn-link.btn-check) + button.btn-link.btn:active {
    color: $tertiary;
}