@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$primary: #D62828;
$secondary: #FCBF49;
$tertiary: #E27807;
$black: #1a1a1a;
$white: #f7f7f7;
$green: #0B3934;
$gray: #9c9c9c;

$black90: rgba(26,26,26, .9);
$black70: rgba(26,26,26, .7);
$black50: rgba(26,26,26, .5);

$logoFont: "Barrio", sans-serif;
$titleFont: "Kirang Haerang", sans-serif;
$textFont: "Montserrat", sans-serif;

$smallText: 11px;
$normalText: 14px;

$textShadow: 2px 2px $white;

$extraBold: 900;
$bolder: 700;
$bold: 400;
$normal: 300;
$thin: 200;


$border: 2px solid ;
$borderRadius: 1px;
$borderRadiusRdn: 50px;

$boxShadowGrn: 4px 4px 0 0 $green;
$boxShadowLight: 4px 4px 0 0 $white;
$boxShadowDark: 4px 4px 0 0 $black;
$boxShadowDarkSm: 2px 2px 0 0 $black;
$boxShadowCard: 0 10px 40px 5px $black70;
$boxShadowCardMore: 0 10px 40px 0 $black90;
$boxShadowCardLess: 0 10px 40px -5px $black70;

$smallSpace: 5px;
$mediumSpace: 15px;
$bigSpace: 25px;
$extraLarge: 50px;

$transition: 0.3s ease;

@import "~bootstrap/scss/bootstrap.scss";
body {
    font-family: $textFont;
    background: $green;
    color: $black90;
    font-weight: $normal;
}
p {
    font-size: $normalText ;
    color: $white;
}
.uppercase span {
    color: $white;
    line-height: 200%;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing:1px;
    text-align: center;
    padding: $mediumSpace 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    text-transform: uppercase;
    text-align: center;
}
h1,h4 {
    color: $tertiary
}
.font-weight-bold, strong {
    font-weight:$bolder
}
.bi {
    -webkit-text-stroke: 1.3px;

}
/* Buttons */
.btn {
    border-radius: $borderRadius;
    box-shadow: $boxShadowDark; 
    font-weight: $bolder;

    &:hover,
    &:focus {
        box-shadow: $boxShadowDarkSm;
        background-color: $secondary;
        font-weight: $bold;
    }
    &:active {
        box-shadow: none;
    }
}
.btn-primary {
    background-color: $secondary;
    color: $green;
    border:none;

    &:hover,
    &:focus {
        color: $green;
    }
    &:active {
        background-color: $tertiary;
    }
}
.btn-dark {
    background-color: transparent ;
    border:none;
    text-align: right;

    &:hover,
    &:focus {
        background-color: transparent ;
        border:none;
    }
    &:active {
        box-shadow: none;
    }

}
.profileView .btn {
    width: 100%
}
.btn-secondary {
    background-color: $tertiary;
    border:none;
}
/* Forms */
.form .form-floating > .form-control {
    font-weight: $bold;
    border-radius: $borderRadius;


}
.form-floating > .form-control:focus ~ label, 
.form-floating > .form-control:not(:placeholder-shown) ~ label, 
.form-floating > .form-control-plaintext ~ label, 
.form-floating > .form-select ~ label,
.form-label {
    padding: $smallSpace;

}
.form-text,
.figure-caption {
    color: $gray;
}
/* Icons */
.bi-heart,
.bi-heart-fill {
    color: $primary;
}

/* Cards */
.card, .movieDetails{
    text-align: center;
    transition: $transition;
    border-radius: $borderRadius;
    box-shadow: $boxShadowDark;
    border:none;
    background-color: $black;
    color: $gray;

    .card-title a{
        color: $secondary;
        text-decoration:none
    }

    &:hover,
    &:focus {
        box-shadow: $boxShadowCardMore;
        background-color: $black90;

        .card-title a {
            color: $white;
            text-decoration:none
        }

        img {
            opacity: .8
        }
    }

    &:active {
        box-shadow: $boxShadowCardLess;
    }
}
.movieDetails, .ProfileView .card  {

    &:hover,
    &:focus {
        box-shadow: none;
     }
}
/* Image */
.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 56.25%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}