$blue: steelblue; 
$black: #1a1a1a;
$gray: #999;
$white: #fff;
$red:#ae3b33;
$darkerRed: #b03a31;
$lighterRed: #db483d;
$font: sans-serif;
$spaceNormal: 10px;
$spaceSmall: 5px;
$spaceBig: 20px;
$titleSize: 32px;
$border: 2px solid $black;


body {
    font-family: $font;
}
.title,
.movieCard {
    font-size: $titleSize;
    text-transform: uppercase;
}
/* MOVIE CARD */
.movieCard {
    margin-bottom: 15px;
    border: 2px solid transparent;
    line-height: $titleSize;
    padding: $spaceSmall

}
.movieCard:hover,
.movieCard:focus {
    border-color: $black
}
.movieCard:active {
    border-color: transparent;
    color: $red
}
/* MOVIE VIEW */
.movieView {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    border: $border;
    padding: $spaceNormal;
}
.movieView img {
    max-width: 500px;
    height: auto;
}
.movieView div {
    margin-bottom: $spaceNormal;
}
.movieView span:first-child {
    font-weight: bold;
    text-transform: none;
}

/* Button */
button {
    color: $white;
    background: $red;
    border: $border;
    border-color:$white;
    border-radius: 20px;
    padding: $spaceNormal 25px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: bold;
}
button:hover, button:focus {
    border-radius: 2px;
    background-color: $white;
    border-color:$red;
    color: $red;

}
button:active {
    color: $black;
    border-color: $black;
}
.movieCards_main {
    position: relative;
    padding-top: 50px;
}
.movieCards_main .btn {
    position: absolute;
    top: $spaceSmall;
    right: $spaceSmall;
}
/* Similar Movies */
.similarMovies {
    display: flex;
    flex-wrap: wrap;
    gap: $spaceNormal;
    justify-content: space-between;
    text-align:center;

}
.similarMovies p {    
    margin: 0 auto;
}
.similarMovieCard {
    flex: 30%;
    box-sizing: border-box;
    text-align:center;
    overflow: hidden; 
    position: relative;
}
.imageBox {
    width: 100%;
    height: 200px; 
    overflow: hidden;
}
.similarMovieCard img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}
.similarMovies .movieDetails {
    min-height: 50px
}

/* FORMS */
.mainView_form p{
    text-align: center
}
.signupView_form,
.loginView_form {
    border: $border;
    padding: $spaceNormal;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
}
h4 {
    text-transform: uppercase;
    width: 100%;
    text-align: center
}
form {
    width: 150px;
    flex-direction:column;
    display: flex;
    width: 100%; 

}
label {
    margin: $spaceNormal;
    display: flex;
    flex-direction:column
}
label:last-child {
    margin-bottom: $spaceBig
}
form span {
    display:block;
    font-size: small;
    color: $gray;
}
form input {
    width: 100%;
    padding: $spaceSmall;
}
form button {
    display: block;
    margin: $spaceBig auto
}
@media (max-width:650px){
    .similarMovieCard {
        flex: 100%;
    }
}